*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;

    
}
.choices{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 3rem;
    margin-top: 5rem;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 10px;
    border-radius: 50%
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem;
    gap: 5rem;
}
#user-score, #computer-score{
font-size: 4rem;
display: flex;
justify-content: center;
align-items: center;

}
#message{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    margin-top: 10rem;
    display: inline;
    
    border-radius: 0.5rem;

}